<a href="https://colab.research.google.com/github/Andrea-Laufer/UNINTER_exercicios/blob/main/Estruturas_de_repeticao_while_and_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estruturas de Repetição

In [2]:
inicial = int(input('Em qual valor deseja iniciar a contagem?'))
final = int(input('Em qual valor deseja finalizar a contagem?'))

x = inicial
while (x <= final):
  if (x % 2 == 0):
    print(x)
  x = x + 1

Em qual valor deseja iniciar a contagem?2
Em qual valor deseja finalizar a contagem?14
2
4
6
8
10
12
14

In [4]:
soma = 0
cont = 1

while (cont <= 5):
  x = float(input(f'Digite a {cont}ª nota: '))
  soma = soma + x
  cont = cont + 1

media = soma / 5
print(f'A média das notas é {media}')

Digite a 1ª nota: 5.2
Digite a 2ª nota: 7
Digite a 3ª nota: 9.4
Digite a 4ª nota: 2.4
Digite a 5ª nota: 10
A média das notas é 6.8

# Reescrito com Operadores Especiais de Atribuição

In [7]:
soma = 0
cont = 1
while (cont <= 5):
  x = float(input(f'Digite a {cont}ª nota: '))
  soma += x # operador especial de atribuição incremento : x = x +1 ou
  # no caso, soma = soma + x
  cont += 1
media = round(soma / 5, 2)
print(f'A média das notas é {media}')

Digite a 1ª nota: 5.6
Digite a 2ª nota: 9
Digite a 3ª nota: 10
Digite a 4ª nota: 4.8
Digite a 5ª nota: 6.4
A média das notas é 7.16

# Validação de Entrada de Dados com Loop

In [11]:
x = int(input('Digite um valor maior que zero: '))
while (x <= 0):
    x = int(input('Digite um valor maior que zero: '))
print(f'Você digitou {x}.')

Digite um valor maior que zero: 0
Digite um valor maior que zero: -8
Digite um valor maior que zero: 10
Você digitou 10.

# Interrompendo Loop com Break

In [16]:
print('Digite uma mensagem que irei repetir para você.')
print('Digite "sair" para encerrar.')
while True:
  texto = input('')
  print(texto)
  if texto == 'sair':
    break
print('Agradeço a participação.')

Digite uma mensagem que irei repetir para você.
Digite "sair" para encerrar.
olá
olá
sair
sair
Agradeço a participação.

### Estrutura For

In [17]:
for i in range (1,6,1):
  print(i)

1
2
3
4
5

In [18]:
for i in range (10, 0, -2):
  print(i)

10
8
6
4
2


❗Varredura de String com for

In [21]:
frase = 'Python é uma linguagem de programação'
for i in range(0, len(frase), 1):
  print(frase[i], end="")

Python é uma linguagem de programação

In [22]:
soma = 0
qtd = 0
for i in range(1, 101):
  if i % 2 == 0:
    soma += i
    qtd += 1
media = soma / qtd
print(f'A média dos números pares de 1 a 101 é {media}.')

A média dos números pares de 1 a 101 é 51.0.

# Estruturas de Repetição Aninhadas

In [29]:
# 2 while
tabuada = 1
while tabuada <=10:
  print(f'TABUADA do {tabuada}:')
  i = 1
  while i <=10:
    print(f'{tabuada} x {i} = {tabuada * i}')
    i += 1
  tabuada += 1

TABUADA do 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABUADA do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABUADA do 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABUADA do 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABUADA do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABUADA do 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABUADA do 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABUADA do 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABUADA do 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABUADA do 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [30]:
# 2 for
for tabuada in range (1,11,1):
  print(f'TABUADA do {tabuada}: ')
  for i in range (1,11,1):
    print(f'{tabuada} x {i} = {tabuada * i}')

TABUADA do 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABUADA do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABUADA do 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABUADA do 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABUADA do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABUADA do 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABUADA do 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABUADA do 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABUADA do 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABUADA do 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [32]:
# 01 while e 01 for
tabuada = 1
while tabuada <=10:
  print(f'TABUADA do {tabuada}:')
  for i in range (1,11,1):
    print(f'{tabuada} x {i} = {tabuada * i}')
  tabuada +=1

TABUADA do 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABUADA do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABUADA do 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABUADA do 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABUADA do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABUADA do 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABUADA do 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABUADA do 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABUADA do 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABUADA do 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100